body {
    background-color: #f7f7f8;
}

.main {
    padding: 12px 11px 80px;
}

.pay {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 0 11px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-top: 1px solid #ededed;
}

.pay .left {
    font-size: 12px;
}

.pay .left span {
    font-family: AccidentalPresidency;
    font-size: 11px;
    color: #cf4444;
}

.pay .left span i {
    font-size: 20px;
}

.pay .right a {
    display: block;
    width: 90px;
    height: 35px;
    background-image: linear-gradient(90deg, 
		#6fc2aa 5%, 
		#54b196 100%);
	border-radius: 3px;
    font-family: MicrosoftYaHei;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
}

.pannel {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.main .user_msg {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 11px;
}

.main .user_msg .left {
    width: 30px;
	height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
	background-image: linear-gradient(90deg, 
		#6fc2aa 5%, 
		#54b196 100%);
    color: #fff;
}

.main .user_msg .mid {
    flex: 1;
    margin-left: 11px;
}

.main .user_msg .right {
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #808080;
    text-align: center;
}

.main .user_msg .mid .top {
    display: flex;
    margin-bottom: 5px;
}

.main .user_msg .mid .top h5 {
    font-size: 15px;
    width: 55px;
    color: #262626;
    line-height: 15px;
}

.main .user_msg .mid .top span {
    font-style: 13px;
    line-height: 15px;
    color: #333333;
}

.main .user_msg .bottom {
    font-size: 12px;
}

.goods {
    display: flex;
    padding: 11px;
    align-items: center;
}

.goods .picture {
    margin-right: 12px;
    width: 85px;
    height: 85px;
}

.goods .number {
    display: flex;
    padding-bottom: 45px;
    margin-left: 22px;
}

.goods .number .icon-x {
    font-size: 7px;
}

.goods .number div {
    margin-left: 4px;
    font-size: 15px;
    height: 15px;
    line-height: 15px;
}

.goods .msg .name {
    margin-bottom: 7px;
    font-size: 13px;
    color: #262626;
}

.goods .msg .color {
    margin-right: 90px;
    padding: 3px 4px;
    height: 16px;
    line-height: 11px;
    font-size: 11px;
    color: #888;
    background-color: #f7f7f8;
}

.goods .msg .price {
    display: flex;
    margin-top: 10px;
    height: 12px;
    font-size: 9px;
    color: #cf4444;
}

.goods .msg .price span {
    font-size: 16px;
    line-height: 16px;
}

.goods .msg .price div {
    margin-left: 14px;
    line-height: 12px;
    font-size: 9px;
    color: #999999;
    text-decoration: line-through;
}

.goods .msg .price div span {
    font-size: 12px;
}

.rest {
    padding: 15px;
}

.rest div {
    display: flex;
    margin-bottom: 30px;
}

.rest div:last-child {
    margin-bottom: 0;
}

.rest div:nth-child(2n+1) {
    justify-content: space-between;
}

.rest div:nth-child(2) h5 {
    margin-right: 20px;
}

.rest div h5,
 .rest p{
    font-size: 13px;
    color: #262626;
    font-weight: 400;
}

.rest p {
    font-weight: 100;
}

.rest div:nth-child(2) p {
    font-size: 12px;
    color: #989898;
}